.NumpadButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;

    appearance: none;
    border: 0;
    border-radius: 50%;
    cursor: pointer;

    font-family: 'Geometria';
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;

    transition: background-color var(--transition);
}

.default {
    background-color: rgba(255, 255, 255, 0);
    color: var(--foreground-color);
}

.default:hover {
    background-color: rgba(255, 255, 255, .12);
}

.action {
    background-color: white;
    color: var(--contrast-color);
}

.action:hover {
    background-color: var(--contrast-color);
    color: white;
}